<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todo.app.mapper.TodoMapper">

    <select id="selectAll"
            resultType="com.todo.app.entity.Todo">

        SELECT
            task_id,
            task_name,
            done_flg,
            priority_id,
            category_id,
            scheduled_work_date,
            parent_id,
            memo
        FROM item_table
        ORDER BY
   			COALESCE(parent_id, task_id),
    		parent_id NULLS FIRST,
    		task_id

    </select>



<insert id="add"
		useGeneratedKeys="true"
		keyProperty="taskId">

    INSERT INTO item_table
    (
        task_name,
        priority_id,
        category_id,
        scheduled_work_date,
        parent_id,
        memo,
        done_flg
    )
    VALUES
    (
        #{taskName},
        #{priorityId},
        #{categoryId},
        #{scheduledWorkDate},
        #{parentId},
        #{memo},
        0
    )

</insert>
<update id="done">

    UPDATE item_table
    SET done_flg = 1
    WHERE task_id = #{taskId}

</update>

<update id="doneSubTask">

    UPDATE item_table
    SET done_flg = 1
    WHERE parent_id = #{taskId}

</update>

<update id="undone">

    UPDATE item_table
    SET done_flg = 0
    WHERE task_id = #{taskId}

</update>

<update id="undoneSubTask">
    UPDATE item_table
    SET done_flg = 0
    WHERE parent_id = #{taskId}
</update>

<update id="update">

    UPDATE item_table
    SET
        task_name = #{taskName},
        priority_id = #{priorityId},
        category_id = #{categoryId},
        scheduled_work_date = #{scheduledWorkDate},
        memo = #{memo},
        done_flg = #{doneFlg}
    WHERE task_id = #{taskId}

</update>


<select id="selectById"
        parameterType="long"
        resultType="com.todo.app.entity.Todo">

    SELECT
        task_id,
        task_name,
        done_flg,
        priority_id,
        category_id,
         scheduled_work_date,
        parent_id,
        memo
    FROM item_table
    WHERE task_id = #{taskId}

</select>
<delete id="deleteComplete">
	DELETE FROM item_table
	WHERE done_flg = 1

</delete>

<select id="selectSubTask"
        parameterType="long"
        resultType="com.todo.app.entity.Todo">

    SELECT *
    FROM item_table
    WHERE parent_id = #{taskId}

</select>

</mapper>