<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Todo詳細</title>

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<style>

.detail-box{
    width:900px;
    margin:20px auto;
    padding:20px;
}

.memo-area{
    width:100%;
    height:500px;
    resize:none;
}

.label{
    font-size:12px;
}

</style>

</head>
<body>

<div class="detail-box">

<h1><b>TodoList</b></h1>

<h3>タスク詳細</h3>

<form th:action="@{/update}" method="post"th:object="${todo}"enctype="multipart/form-data">
	
	<input type="hidden"
    	name="taskId"
        th:value="${todo.taskId}">

	<div class="text-right mb-3">
		<button
	        type="button"
	        class="btn btn-success"
	        data-toggle="modal"
	        data-target="#subTaskModal">
	        子タスク追加
		</button>

        <button type="button"
        	class="btn btn-secondary"
            onclick="location.href='/'">
            戻る
		</button>

        <button type="submit"
        	class="btn btn-primary">
            保存
        </button>
	</div>

<div class="form-row">
			
<div class="col-md-1 flex-column justify-content-center">
	<label>状態</label>
<div>
	<input type="hidden"
		name="taskId"
		th:value="${todo.taskId}">
		   	   						  
	<input type="checkbox"
		name="doneFlg"
		value="1"
		th:checked="${todo.doneFlg == 1}">
	<input type="hidden"
		name="doneFlg"
		value="0">
	  
</div>
</div>
			
<div class="col-md-3">
	<label>タスク名
		<span class="text-danger">*</span>
	</label>
	
	<input type="text"
    	class="form-control"
        name="taskName"
        th:value="${todo.taskName}"
		required
		oninvalid="this.setCustomValidity('タスク名を入力してください')"
		oninput="this.setCustomValidity('')">
</div>

<div class="form-group">
	<label>優先度</label>
	<select name="priorityId"
		class="form-control">
		<option th:each="p : ${priorityList}"
			th:value="${p.priorityId}"
			th:text="${p.priorityName}"
			th:selected="${p.priorityId == todo.priorityId}">
		</option>
	</select>
</div>

<div class="form-group">
	<label>カテゴリ</label>
	<select name="categoryId"
		class="form-control">
		<option th:each="c : ${catgoryList}"
			th:value="${c.categoryId}"
			th:text="${c.categoryName}"
			th:selected="${c.categoryId == todo.categoryId}">
		</option>
	</select>
</div>

<div class="col-md-3">
	<label>実施予定日</label>
    <input type="date"
    	class="form-control"
        name="scheduledWorkDate"
        th:value="${todo.scheduledWorkDate}">
</div>
</div>

<div class="form-group">
	<label>添付ファイル追加</label>
	<input
		type="file"
		name="files"
		multiple
		class="form-control-file">
</div>

<div class="form-group">
	<label>
		添付ファイル
		(<span th:text="${#lists.size(fileList)}">0</span>件)
	</label>

	<table class="table table-sm">
		
		<tr th:each="file : ${fileList}">
			
			<td style="width:70%;">
		                📄 <span th:text="${file.fileName}"></span>
		    </td>
		    
			<td>
		    	<a th:href="@{/download(fileId=${file.fileId})}"
		        	class="btn btn-sm btn-primary">
		            ダウンロード
		        </a>
		    </td>
		</tr>

		<tr th:if="${#lists.isEmpty(fileList)}">
			<td colspan="2">
		    添付ファイルはありません
		    </td>
		</tr>
	</table>
</div>

<div class="form-group">
	<label>メモ</label>
	<textarea th:field="*{memo}"
		class="form-control"
		rows="5"></textarea>
</div>

    </form>

    <hr>

    <h5>子タスク一覧</h5>

	<table class="table table-sm">

	    <tr>
	        <th>タスク名</th>
	        <th>状態</th>
	        <th></th>
	    </tr>

	    <tr th:each="subTask : ${subTasks}">

	        <td th:text="${subTask.taskName}">
	        </td>

	        <td>
	            <span th:if="${subTask.doneFlg == 0}">
	                未完了
	            </span>

	            <span th:if="${subTask.doneFlg == 1}">
	                完了
	            </span>
	        </td>

	        <td>

	            <a th:href="@{/subtask/detail(taskId=${subTask.taskId})}"
	               class="btn btn-sm btn-info">
	                詳細
	            </a>

	        </td>

	    </tr>

	</table>

</div>
<div class="modal fade"
	id="subTaskModal"
	tabindex="-1">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h5>子タスク追加</h5>
            </div>
			<form id="subTaskForm"
			      th:action="@{/addSubTask}"
			      method="post"
				   enctype="multipart/form-data">

			    <input type="hidden"
			           name="parentId"
			           th:value="${todo.taskId}">
					   
					   <div class="form-group">
					       <label>親タスク</label>

					       <input type="text"
					              class="form-control"
					              th:value="${todo.taskName}"
					              readonly>
					   </div>


            <div class="modal-body">

                    <div class="form-group">
                        <label>タスク名
							<span class="text-danger">*</span>
						</label>
                        <input type="text"
                               name="taskName"
                               class="form-control"
							   required
							   oninvalid="this.setCustomValidity('タスク名を入力してください')"
							   oninput="this.setCustomValidity('')">
                    </div>

					<div class="form-group">
					                        <label>優先度</label>
					                        <select name="priorityId"
					                                class="form-control">
					                            <option th:each="p : ${priorityList}"
												        th:value="${p.priorityId}"
													    th:text="${p.priorityName}"
														th:selected="${p.priorityId == todo.priorityId}">
												</option>
					                        </select>
					                    </div>

					                    <div class="form-group">
					                        <label>カテゴリ</label>
					                        <select name="categoryId"
					                                class="form-control">
					                            <option th:each="c : ${catgoryList}"
												        th:value="${c.categoryId}"
														th:text="${c.categoryName}"
														th:selected="${c.categoryId == todo.categoryId}">
												</option>
												
					                        </select>
					                    </div>

                    <div class="form-group">
                        <label>実施予定日</label>
                        <input type="date"
                               name="scheduledWorkDate"
                               class="form-control">
                    </div>

					<div class="form-group">
					    <label>メモ</label>
						<textarea name="memo"
						          class="form-control"
								  rows="5"></textarea>
					</div>
					<div class="form-group">
					    <label>
							添付ファイル <span id="fileCount">0</span>件
					    </label>
						<input
						    type="file"
						    id="files"
						    name="files"
						    multiple>

						<ul id="fileList"></ul>
					</div>

            <div class="modal-footer">

                <button
                    class="btn btn-secondary"
                    data-dismiss="modal">
                    キャンセル
                </button>

                <button
                   type="submit"
				   form="subTaskForm"
				   class="btn btn-success">
                    登録
                </button>

            </div>
			</form>

        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/todo.js}"></script>
</script>


</body>
</html>